<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, class: 'form-horizontal'}) do |f| %>
  <%= f.error_notification %>

  <%= f.input :name %>
  <%= f.input :email %>
  <%= f.input :password, label: "New Password", autocomplete: "off"  %>
  <%= f.input :password_confirmation, label: "New Password Confirmation", autocomplete: "off" %>
  <%= f.input :current_password %>

<!-- <h2> Job Experience </h2>
  <% job_experiences = JobExperience.find_all_by_user_id(current_user.id) %>
  <% if job_experiences.length == 0 %>
    <p>You have not entered any job experiences yet.</p>
  <% elsif job_experiences.length == 1 %>
    <%= job_experiences[0].company %>  
    <%= job_experiences[0].job_title %> 
  <% elsif job_experiences.length > 1 %>
      <% for x in job_experiences.length %>
          <%= job_experiences[x].company %>  
          <%= job_experiences[x].job_title %> 
      <% end %>      
    <% end %>
    -->
  <%= f.fields_for :job_experience_attributes do |j| %>
    <%= j.input :company %>
    <%= j.input :job_title %>
    <%= j.input	:description, as: :text, input_html: { rows: "10" } %>
    <%= j.input :start_date, as: :date, discard_day: true %>
  <% end %>

  <div class="form-actions">
    <%= f.submit "Update", class: "btn btn-primary" %>
  </div>
<% end %>

<h3>Cancel my account</h3>

<p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete %></p>

<%= link_to "Back", :back %>
