<p id="notice"><%= notice %></p>

<%= params %>
<%= @job_application1 = JobApplication.find(params[:id]) %>
<%= @job_application1.job_posting_id %>
<%= @job_application1.id %>

<%= link_to 'Edit', edit_job_application_path(@job_application) %> |
<%= link_to 'Back', job_applications_path %>
