<div class="box">
	<%= link_to 'View', job_posting %>
	<p class="title">
		<%= job_posting.title %>
	</p>
	<p class="description">
		<%= job_posting.description %>
	</p>

  <% if current_user == job_posting.user %>

  <p><%= link_to 'Edit', edit_job_posting_path(job_posting) %>
  <%= link_to 'Destroy', job_posting, method: :delete, data: { confirm: 'Are you sure?' } %>
	</p>
  <% end %>
</div>

