<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
 
      <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
 
      <!-- Be sure to leave the brand out there if you want it shown -->
      <a class="brand" href="/"> <img src="/assets/logo.png" alt="logo"> SkillChest</a>
      <!-- class="img-responsive"> 
    -->
      <!-- <% link_to "SkillChest", root_path, class: "brand" %> -->
      <!-- Everything you want hidden at 940px or less, place within here -->
      <div class="nav-collapse collapse">
      	<ul class='nav'>
	      	<li><%= link_to "Home", root_path %></li>
    			<li><%= link_to "About", about_path %></li>
    			<li><%= link_to "Bryan", bryan_path %></li>
    			<li><%= link_to "Job Postings", job_postings_path %></li>

          <% if user_signed_in? %>
            <li><%= link_to "VIP", vip_path %></li>
          <% end %>

          <% if user_signed_in? && current_user.hirer %>
            <li><%= link_to "Post a Job", new_job_posting_path %></li>
            <li><%= link_to "My Job Postings", my_job_postings_path %></li>
          <% end %>
        <!-- .nav, .navbar-search, .navbar-form, etc -->
	     </ul>
	     <ul class='nav pull-right'>
        <% if user_signed_in? %>
          <li><%= link_to "Add Certificate", new_certificate_path %></li>
          <li><%= link_to "Add +", new_pin_path %></li>
          <li><%= link_to "Edit Profile", edit_user_registration_path %></li>
          <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
        <% else %>
          <li><%= link_to "Login", new_user_session_path %></li>
        <% end %>
        <!-- .nav, .navbar-search, .navbar-form, etc -->
	     </ul>	
      </div>
 
    </div>
  </div>
</div>